<!-- Services Section -->
 <section id="about_full" style= "padding: 60px 0px 0px 0px">

    <div class="row">

                <div class="col-lg-12" style="padding-left:7%; padding-bottom: 15%;">
                   <!-- <h2 class="section-heading-about"> Locally productive, globally connected cities</h2> -->
                
                     <div style="position: relative; width: 92%; padding-right: 5%; padding-left: 5%; padding-bottom: 10px;" > 
                       
                             <h3 class="section-subheading-about text-muted"> 
                                Cities are where most of the planet’s population now live, and they offer the best opportunity to effect practical change at scale, and in a context to which people can relate. Cities are at the heart of addressing the social and environmental challenges of the 21st century.
                             </h3>
                            
                                      
                             <p class="about">
                                The FAB City is a global project to develop locally productive and globally connected self-sufficient cities. It comprises an international think tank of civic leaders, makers, urbanists and innovators working on changing the paradigm of the current industrial economy where the city operates on a linear model of importing products and producing waste.
                                </br>
                                </br>
                                FAB City is a new urban model of transforming and shaping cities that shifts how they source and use materials from  ‘Products In Trash Out’ (PITO) to ‘Data In Data Out’ (DIDO). This means that more production occurs inside the city, along with recycling materials and meeting local needs through local inventiveness. A city’s imports and exports would mostly be found in the form of data (information, knowledge, design, code).
                                </br>
                                </br>
                                In this way, the citizens and the city are empowered to be the masters of their own destiny, their resilience is increased and a more ecological system is developed because the movements of materials and the associated energy consumption and carbon emissions typical of the current economy are drastically reduced. In order for this to be possible, the city must be locally productive and globally connected to knowledge, economic and social networks, making cooperation between cities, citizens and knowledge centers the basis of the scientific knowledge. 
                                 </br>
                                 </br>
                                To become a FAB City requires having a more precise knowledge of the way that cities work. The evolution of the project will make it possible to create better systems of capturing and analysing data, developing knowledge about a city, and it will also the implementation of an evaluation system and meticulous monitoring.
                                </br>
                                </br>
                                This initiative is a great economic opportunity for participating cities. It will create new types of jobs and professions related to the knowledge economy and the development and implementation of new approaches and technological solutions, including:
                                </br>
                             </p>
                    
                        <ul class="about">
                            <li class="about">
                                Manufacturing locally, and creating global impact: A global network of cities that share knowledge and best practices on urban solutions emerging from citizens, companies, educational institutions, and governments. Local networks of Fab Labs and production centers connected to the larger global network of supply chains, sharing knowledge, best practices and projects.
                            </li>
                            <li class="about">
                                Distributed energy production: With the advent of domestic batteries and efficiency improvements in solar and other means of clean power generation, energy distribution itself will face enormous changes. Distributed grids will change the role of households and businesses in power, water and resources distribution.
                            </li>
                            <li class="about">
                                Cryptocurrency for a new economy: Cities creating their own trade markets connected to a global economy, using a multi-currency and value system based on the blockchain and similar technologies.
                            </li>
                            <li class="about">
                                Food production and urban permaculture: Urban farming will scale up from experimental practice to large scale infrastructure. Local production of foods at domestic, neighbourhood and city scales, will create a closed loop system for food production and harvesting.
                            </li>
                            <li class="about">
                                Educating for the future: incorporate a stronger emphasis on  learning-by-doing in education systems and curricula, and  engage all levels of education in finding solutions for local needs, through digital fabrication technologies, and  sharing them with global networks.
                            </li>
                            <li class="about">
                                Building the future circular [spiral] economy: Reduce the amount of imported goods, food and resources like water or energy. Increase the use of recycled raw materials for the production of objects in cities.
                            </li>
                            <li class="about">
                                Collaboration between governments and the civil society: local government and civic organizations, start-ups, universities, and other organizations must work together in order to make a cultural shift that promotes the empowerment of the cities and their citizens.
                            </li>

                        </ul>

                        <p class="about">

                            All these initiatives will be supported by technologies such as digital manufacturing, energy rehabilitation of buildings and neighbourhoods, smart energy networks, electrical mobility, urban permaculture, intelligent infrastructure, and related policy and regulatory approaches, among other solutions to be shared globally between cities.
                            </br>
                            </br>
                            The Fab City project was launched in 2011 at the FAB7 conference in Lima by the Institut d’Arquitectura Avançada de Catalunya, the MIT Center for Bits and Atoms, the Fab Foundation and the Barcelona City Council. This initiative is open for other cities, towns or communities to join in order to collectively build a more human and inhabitable new world, and join the Barcelona pledge: a countdown for cities to become self-sufficient by 2054.

                        </p>


               
                         <h3 class="section-subheading text-center text-muted" style="padding-top: 80px; margin-bottom: 10px;"> Still having questions?</h3> 

                         <div class="text-center" style="padding: 10px 0px 0px 0px">
                        <a href="/faq" class="page-scroll btn btn-xl" style="font-size: 18px;">Check out or FAQ section </a>
                         </div> 
                         
                         <!--<a href="/faq" style="text-decoration: underline;"><h2 class="section-heading text-center"> Check out  our FAQ section</h2></a> -->
               
                        
                     </div>  
                   
                </div>
     </div>

</section>
