<section id="fabcity" class="holy-grail globe">
  <div id="overlay"></div>
  <div class="container">
    <div class="row count-header">

        <div id="countdown">
              <!--<div class="caja-reloj"> -->
               <div class="countdown styled"></div>
              <!--</div>-->
              <div class="until-we">
                <div id="countdown-desc">
                until we're <span style="color: #fff">globally connected</span><br/> and <span style="color: #fff">locally self-sufficient.</span> <!-- &nbsp;&nbsp;<a href="#">more...</a> -->
                </div>
              </div>
        </div>

    </div>
  </div>
  <div class="container fabcity">
    <div class="row">
      <div class="holy-grail-body">
        <main class="holy-grail-content" style="position: relative">
          <div id="earth_div"></div>
          <div id="legend">
            <span class="dot"></span>
            <span id="count"></span> Fab Labs registered on <a href="http://fablabs.io">fablabs.io</a>
          </div>
        </main>
        <aside class="holy-grail-sidebar">
          <div class="logo-container">
            <img id="logo" src="img/fabcity.png" alt="Fabcity" />
          </div>
          <ul class="city-list">
              <li>Barcelona</li>
              <li>Boston</li>
              <li>Somerville</li>
              <li>Cambridge</li>
              <li>Ekurhuleni</li>
              <li>Kerala</li>
              <li>Georgia</li>
              <li>Shenzhen</li>
              <li>Amsterdam</li>
          </ul>
          <div class="city-quote">
            <p>
              Cities join the Fab City initiative every year during the Fab Lab network meetings. We work with local communities of Fab Labs, government and organisations in order to develop local strategies for Fab Cities. <a href="mailto:info@fab.city" target="_blank">Contact us </a> in order to start this conversation in your city.
            </p>
          </div>

        </aside>
      </div>
    </div>
  </div>
</section>