<!-- Services Section -->
<section id="get-involved" style="padding-top: 100px;">
   

    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">    
            
            <a href="/residencies">
            <div class="col-md-4">
                     <!--<div class="mosaic-opacity"> -->
                     <div class="mosaic-title">
                       RESIDENCIES
                     </div>   
                     <!--</div> -->
            </div>
            </a>

            <a href="/barcelona-residency">
            <div class="col-md-4" style="background-image: url(../img/mosaic/residencies_bcn.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
                 <div class="mosaic-subtitle">
                    BARCELONA RESIDENCY 
                 </div>
            </div>
            </a> 

            <div class="col-md-4" style="background-image: url(../img/mosaic/residencies_ply.png); background-position: center center; background-attachment: scroll; background-size: cover;">
                 <div class="mosaic-subtitle">
                    <a href="/plymouth-residency">PLYMOUTH RESIDENCY </a>
                </div>
            </div>

    </div>



    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">
       
        <div class="col-md-4" style="background-image: url(../img/mosaic/residencies_par.png); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
                <a href="/plymouth-residency">PARIS RESIDENCY</a>
            </div>
        </div>

        <div class="col-md-4" >
            <div class="mosaic-title">
                <a href="/workshops">WORKSHOPS</a>
                </div>
        </div>

        <div class="col-md-4" style="background-image: url(../img/mosaic/workshops_ply.png); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
                <a href="/plymouth-residency">PLYMOUTH WORKSHOP</a>
            </div>
        </div>

    </div>


    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">
       
        <div class="col-md-4" style="background-image: url(../img/mosaic/workshops_par.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
                <a href="/plymouth-residency">PARIS WORKSHOP </a>
            </div>
        </div>

        <div class="col-md-4" style="background-image: url(../img/mosaic/workshops_bcn.png); background-position: center center; background-attachment: scroll; background-size: cover;" >
            <div class="mosaic-subtitle">
                <a href="/plymouth-residency">BARCELONA WORKSHOP</a>
            </div>
        </div>


        <div class="col-md-4" style="background-image: url(../img/mosaic/workshops_bu.png); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
                <a href="/plymouth-residency">BUDAPEST WORKSHOP</a>
            </div>
        </div>

    </div>


    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">
       
        <div class="col-md-4">
            <div class="mosaic-title">Total success at the Fira exhibition tonight! 
            </div>
        </div>

        <div class="col-md-4" >
        </div>


        <div class="col-md-4" >
             <div class="mosaic-title">
                <a href="/exhibitions">EXHIBITIONS </a>
             </div>
        </div>

    </div>



</section>
