<!-- Services Section -->
<section id="get-involved">
    <!--<div class="bg-png"> -->

        <div class="row" style="margin: 0 -10px 0 -10px">
            <div class="row text-center" style="padding: 0px 0px 0px 0px">
             <h2 style="">Get involved </h2>
            </div>
         </div> 


        </div>    


        <div class="row">
            <div class="col-lg-12 text-center" style="margin: 0px 0px 60px 0px">
                <!--<h2 class="section-heading">Assembling a global team</h2>-->
                <h4 class="section-subheading text-muted">We are assembling a worldwide network of experts and enthusiasts:</h4>
            </div>
        </div>

        <div class="row text-center">
         <div class="textos-how">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Civic Leaders</h4>
                <p class="text-muted">Local leaders in city making policy and strategies to support local ecosystems and global collaborations.</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Fab Lab Managers</h4>
                <p class="text-muted">Fab Lab leaders developing projects and solutions, training trainers and policy makers to think and act in the cities of the future.</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Technologists and enablers</h4>
                <p class="text-muted">Jedis on new technology development such as the Blockchain, distributed archiving, online platforms, and better tools for alls.</p>
            </div>

        </div>    
    </div>


    <div class="row text-center" style="margin-top: 20px">
        <div class="col-md-4" >
            <a href="http://fabcity.slack.com" target="_blank">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-slack fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Join our Slack team</h4>
                <p class="text-muted"></p>
            </a>
        </div>


        <div class="col-md-4">
            <a href="http://github.com/fabcity" target="_blank">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Find us on Github</h4>
                <p class="text-muted"></p>
            </a>
        </div>


        <div class="col-md-4">
            <a href="http://fabcity.hackpad.com" target="_blank">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-chain fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Contribute to our hackpad</a></h4>
                <p class="text-muted"></p>  
            </a>  
        </div>


    </div>

    <div class="row text-center" style="padding-top:20px;">
        <a href="mailto:info@fab.city" target="_blank">
                <span class="fa-stack fa-4x">
                   <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse" ></i>
                </span>
                <h4 class="service-heading">Contact us at info@fab.city</a></h4>
            </a>  
    </div>    

         <div class="text-center" style="padding: 50px 0px 100px 0px">
    <a href="/faq" class="page-scroll btn btn-xl" style="font-size: 18px;">Or check out our FAQ section </a>
     </div> 





</div>

</section>
