<!-- Header -->

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <!--<div class="intro-heading">Digital fabrication<br/>for the crafts</div> -->
                <a href="https://www.fablabs.io/" target="blank" class="page-scroll btn btn-xl" style="position: absolute; bottom:0; right:0;">Also check out the <br> projects <br> at Fablabs.io &#62;</a>
              
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->


