<!-- Header -->

<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/slideshow/0.jpg');"></div>
            <!---<div class="carousel-caption"> <h2>Caption 1</h2></div>-->
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/slideshow/1.jpg');"></div>
            <!--<div class="carousel-caption"><h2>Caption 2</h2></div>-->
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/slideshow/2.jpg');"></div>
            
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/slideshow/3.jpg');"></div>
            <
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../img/slideshow/4.jpg');"></div>
            <!--<div class="carousel-caption"><h2>Caption 3</h2></div>-->
        </div>
    </div>

        <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>



    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"></div>
            <!--<div class="intro-heading">Digital fabrication<br/>for the crafts</div> -->
            <a href="https://www.fablabs.io/" target="blank" class="page-scroll btn btn-xl right-align" style="position: absolute; bottom:0; right:0;">Also check out the <br> projects <br> at Fablabs.io &#62;</a>
          
        </div>
    </div>
</header>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->


