<!--Navbar de iconos -->

<div id="fixed-nav-icon" class="fixed-faq">
    <div class="navbar-faq">

        
        <div class="icons-faq">
            <span id="icon-resize1" class="fa-stack fa-4x">
                <a href="#general">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </a>
        </span>

            <a href="#general"><h4 class="faq">General</h4> </a>
        </div>
        

        <div class="icons-faq">
            <span id="icon-resize2" class="fa-stack fa-4x">
                <a href="#cities">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                </a>
            </span>

            <a href="#cities"><h4 class="faq">Cities</h4></a>
        </div>



        <div class="icons-faq">
            <span id="icon-resize3" class="fa-stack fa-4x">
                <a href="#fablabs"> 
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                </a>
            </span>
            <a href="#fablabs"><h4 class="faq">Fab Labs and Makerspaces</h4></a>
        </div> 



        <div class="icons-faq">     
            <span id="icon-resize4" class="fa-stack fa-4x">
                <a href="#individuals">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </a> 
            </span>
            <a href="#individuals"><h4 class="service-heading faq">Individuals</h4></a>         
        </div>  


    </div>
</div>      



<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->


        <div class="logo-faq"> 
            <a href="/">
                <img class="logo-navbar-min" src="/img/logo-min.png"/>    
            </a>
        </div> 


        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/#what">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#fabcity">Road map</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#blog-entries">News</a>
                </li> 
                <li>
                    <a class="page-scroll" href="/#get-involved">Get involved</a>
                </li>
                <!--
                <li>
                    <a class="page-scroll" href="/#portfolio">Context</a>
                </li>
            -->
                <li>
                    <a class="page-scroll" href="/#contact">Contact</a>
                </li>

                <li>
                    <a class="page-scroll" href="/faq">FAQ</a>
                </li>
            </ul>
        </div>


        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>






<!-- Header -->
<header>
    <div class = "header-faq">
        <div class="container">
            <div class="intro-text-faq">
                <div class="intro-lead-in"></div>
                <div class="intro-heading">Interested in becoming <br> part of Fab City?</div> 
                <div class="intro-heading-sub text-muted">These are some of the <br> frequently asked questions:</div> 
            </div>    
        </div>
    </div>          
</header>





