<!-- Pages Mosaic -->


{% if page.hasmosaic == true %}

 <div class="row text-center" style="margin-right:0px; margin-left: 0px; margin-top: 10px;">
    {% for image in page.images %}
            <a class="subtitle" href="{{ image.url }}"> 
            <div class="col-md-4" style="background-image: url(..{{ image.image_path }}); background-position: center center; background-attachment: scroll; background-size: cover;">
                <div class="mosaic-subtitle hvr-grow">
                    {{ image.title }}
                </div>
            </div>
            </a> 
    {% endfor %}
</div>

{% endif %} 


