<!-- Services Section -->
<section id="content-mosaic">
   
    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">    
        

        <a class="subtitle" href="/artists/ricardo-o-nascimento"> 
        <div class="col-md-4" style="background-image: url(../img/artists/onascimento/residencies-barcelona-nascimento-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
                Ricardo O'Nascimento  
            </div>
        </div>
        </a> 

        <a class="subtitle" href="/artists/annemie-maes">
        <div class="col-md-4" style="background-image: url(../img/artists/maes/residencies-barcelona-maes-8-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
                Annemie Maes
            </div>
        </div>
        </a>

        <a class="subtitle" href="/adriana-ionascu">
        <div class="col-md-4" style="background-image: url(../img/artists/ionascu/residencies-plymouth-ionascu-13-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
               Adriana ionascu
            </div>
        </div>
        </a>

    </div>


    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">

        <a class="subtitle" href="/jack-west">
        <div class="col-md-4" style="background-image: url(../img/artists/west/residencies-plymouth-west-5-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
               Jack West
            </div>
        </div>
        </a>

        <a class="subtitle" href="/ludovic-mallegol">        
        <div class="col-md-4" style="background-image: url(../img/artists/mallegol/residencies-barcelona-mallegol-5-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;" >
            <div class="mosaic-subtitle">
                Ludovic Mallegol
            </div>
        </div>
        </a>

        <a class="subtitle" href="/artists/cristian-rizzuti">
        <div class="col-md-4" style="background-image: url(../img/artists/rizzuti/residencies-barcelona-rizzuti-6-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
                Cristian Rizzuti
            </div>
        </div>
        </a>

    </div>


    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">

        <a class="subtitle" href="/laura-martinez">
        <div class="col-md-4" style="background-image: url(../img/artists/martinez/residencies-plymouth-martinez-7-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
               Laura Martinez
            </div>
        </div>
        </a>

        <a class="subtitle" href="/jack-west">
        <div class="col-md-4" style="background-image: url(../img/artists/smith/residencies-plymouth-smith-10-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
               Alfie Smith
            </div>
        </div>
        </a>

        <a class="subtitle" href="/roman-torre">
        <div class="col-md-4" style="background-image: url(../img/artists/torre/residencies-barcelona-torre-1.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
               Roman Torre
            </div>
        </div>
        </a>

       

    </div>

    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">

        <a class="subtitle" href="/artists/matthew-bush">
        <div class="col-md-4" style="background-image: url(../img/artists/bush/residencies-plymouth-bush-7-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
               Matthew Bush
            </div>
        </div>
        </a>

        <a class="subtitle" href="/phil-cuttance">
        <div class="col-md-4" style="background-image: url(../img/artists/cuttance/residencies-plymouth-cuttance-1-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle">
               Phil Cuttance
            </div>
        </div>
        </a>

        <a class="subtitle" href="/barcelona-exhibition">
        <div class="col-md-4" style="background-image: url(../img/artists/rosenstiel/residencies-plymouth-rosenstiel-4-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;" >
            <div class="mosaic-subtitle">
                Mark Rosenstiel
            </div>
        </div>
        </a>
    </div>

</section>
