<!-- Artists Mosaic Section -->

<div class="row text-center" style="margin-right:0px; margin-left: 0px; margin-top: 10px;">    
    <a class="subtitle" href="/workshops-bcn"> 
    <div class="col-md-4" style="background-image: url(../img/workshops/barcelona/workshops-barcelona-1-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
        <div class="mosaic-subtitle hvr-grow">
            Barcelona/Valldaura
        </div>
    </div>
    </a> 

    <a class="subtitle" href="/workshops-par">
    <div class="col-md-4" style="background-image: url(../img/workshops/paris/workshops-paris-1-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
        <div class="mosaic-subtitle hvr-grow">
           Paris
        </div>
    </div>
    </a>

    <a class="subtitle" href="/workshops-ply">
    <div class="col-md-4" style="background-image: url(../img/workshops/plymouth/workshops-plymouth-1-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
        <div class="mosaic-subtitle hvr-grow">
            Plymouth
        </div>
    </div>
    </a>
</div>


<div class="row text-center" style="margin-right: 0px; margin-left: 0px">
    <a class="subtitle" href="/workshops-bud">
    <div class="col-md-4" style="background-image: url(../img/workshops/budapest/workshops-budapest-1-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
        <div class="mosaic-subtitle hvr-grow">
           Budapest
        </div>
    </div>
    </a>

    <a class="subtitle" href="/workshops-ams">        
    <div class="col-md-4" style="background-image: url(../img/workshops/amsterdam/workshops-amsterdam-1-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;" >
        <div class="mosaic-subtitle hvr-grow">
            Amsterdam
        </div>
    </div>
    </a>

    <a href="/residencies">
    <div class="col-md-4" style="background-color: #ffffff; background-image: url(../img/mosaic/residencies-thumbnail.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
        <div class="mosaic-title hvr-grow" >
            Also check out the residencies &#62;
        </div>      
    </div>
    </a>

</div>




