<!-- Services Section -->
<section id="content-mosaic">
   
    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">    
        
        <a href="/residencies">
        <div class="col-md-4" style="background-color: #ffffff; background-image: url(../img/mosaic/residencies-thumbnail.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-title hvr-grow" >
                RESIDENCIES
            </div>      
        </div>
        </a>

        <a class="subtitle" href="/ricardo-o-nascimento"> 
        <div class="col-md-4" style="background-image: url(../img/artists/onascimento/residencies-barcelona-nascimento-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle hvr-grow">
                Ricardo O'Nascimento  
            </div>
        </div>
        </a> 

        <a class="subtitle" href="/annemie-maes">
        <div class="col-md-4" style="background-image: url(../img/artists/maes/residencies-barcelona-maes-8-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle hvr-grow">
                Annemie Maes
            </div>
        </div>
        </a>

    </div>



    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">

        <a class="subtitle" href="/adriana-ionascu">
        <div class="col-md-4" style="background-image: url(../img/artists/ionascu/residencies-plymouth-ionascu-12-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle hvr-grow">
               Adriana ionascu
            </div>
        </div>
        </a>
   
        <a href="https://www.flickr.com/photos/madeateu/" target="_blank">
        <div class="col-md-4" >
            <div class="mosaic-title-flickr">
                    CHECK OUT THE PROJECT'S <br> FLICKR GALLERY &#62; 
            </div>
        </div>
        </a>

        <a href="/workshops">
        <div class="col-md-4" style="background-color: #ffffff; background-image: url(../img/mosaic/workshops.png); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-title hvr-grow">
                WORKSHOPS
            </div>    
        </div>
        </a>

    </div>


    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">

        <a class="subtitle" href="/jack-west">
        <div class="col-md-4" style="background-image: url(../img/artists/west/residencies-plymouth-west-5-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle hvr-grow">
               Jack West
            </div>
        </div>
        </a>

        <a class="subtitle" href="/ludovic-mallegol">        
        <div class="col-md-4" style="background-image: url(../img/artists/mallegol/residencies-barcelona-mallegol-5-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;" >
            <div class="mosaic-subtitle hvr-grow">
                Ludovic Mallegol
            </div>
        </div>
        </a>

        <a class="subtitle" href="/cristian-rizzuti">
        <div class="col-md-4" style="background-image: url(../img/artists/rizzuti/residencies-barcelona-rizzuti-6-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle hvr-grow">
                Cristian Rizzuti
            </div>
        </div>
        </a>

    </div>


    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">

        <a class="subtitle" href="/laura-martinez">
        <div class="col-md-4" style="background-image: url(../img/artists/martinez/residencies-plymouth-martinez-7-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle hvr-grow">
               Laura Martinez
            </div>
        </div>
        </a>
       
       <a href="https://twitter.com/madeateu" target="_blank">
        <div class="col-md-4">
            <div class="mosaic-title-twitter">
                <i class="fa fa-3x fa-twitter"></i> <br> <br>         
                <div class="tweet"></div> <br>
                @madeateu
            </div>
        </div>
        </a>

        <a href="/exhibitions">
        <div class="col-md-4" style="background-image: url(../img/mosaic/exhibitions.png); background-position: center center; background-attachment: scroll; background-size: cover;" >
             <div class="mosaic-title hvr-grow" >
               EXHIBITIONS 
             </div>
        </div>
        </a>

    </div>

    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">

        <a class="subtitle" href="/matthew-bush">
        <div class="col-md-4" style="background-image: url(../img/artists/bush/residencies-plymouth-bush-7-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle hvr-grow">
               Matthew Bush
            </div>
        </div>
        </a>

        <a class="subtitle" href="/phil-cuttance">
        <div class="col-md-4" style="background-image: url(../img/artists/cuttance/residencies-plymouth-cuttance-1-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle hvr-grow">
               Phil Cuttance
            </div>
        </div>
        </a>

        <a class="subtitle" href="/mark-von-rosenstiel">
        <div class="col-md-4" style="background-image: url(../img/artists/rosenstiel/residencies-plymouth-rosenstiel-4-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;" >
            <div class="mosaic-subtitle hvr-grow">
                Mark von Rosenstiel
            </div>
        </div>
        </a>

    </div>

    <div class="row text-center" style="margin-right: 0px; margin-left: 0px">

        <a class="subtitle" href="/alfie-smith">
        <div class="col-md-4" style="background-image: url(../img/artists/smith/residencies-plymouth-smith-10-thumb.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle hvr-grow">
               Alfie Smith
            </div>
        </div>
        </a>
    
        <a href="http://www.plymouthart.ac.uk/latest/news/college-launching-international-fab-lab-project-madeeu/" target="_blank">
        <div class="col-md-4">
            <div class="mosaic-title-twitter" style="padding-top: 60px">
                <i class="fa fa-3x fa-comment"></i> <br> <br>        
                "I'm looking forward to the extraordinary things that will arise from the interaction of traditional technologies with new digital fabrication." <!--<br>
                <br>Professor Andrew Brewerton, Plymouth College of Art Principal-->
            </div>
        </div>
        </a>

        <a href="/partners">
        <div class="col-md-4" style="background-image: url(../img/mosaic/ensci.jpg); background-position: center center; background-attachment: scroll; background-size: cover;" >
             <div class="mosaic-title hvr-grow" >
               PARTNERS
             </div>
        </div>
        </a>

         <!--<a class="subtitle" href="/roman-torre">
        <div class="col-md-4" style="background-image: url(../img/artists/torre/residencies-barcelona-torre-1.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-subtitle hvr-grow">
               Roman Torre
            </div>
        </div>
       </a>-->
        
    </div>

</section>
