<!-- Partners Logos  -->
<aside class="clients">  
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <a href="https://ec.europa.eu/programmes/creative-europe/" target="_blank">
                    <img src="img/logos/eu_logo.svg" class="img-responsive img-centered" alt="" style="padding-top: 13px;">
                </a>
            </div>
                
            <div class="col-md-3 col-sm-12 col-xs-12"> 
                <a href="http://www.fablabbcn.org" target="_blank">
                    <img src="img/logos/fablab.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
                
            <div class="col-md-3 col-sm-12 col-xs-12">
                <a href="http://www.ensci.com" target="_blank">
                    <img src="img/logos/ensci-black.png" class="img-responsive img-centered"  alt="">
                </a>
            </div> 

            <div class="col-md-3 col-sm-12 col-xs-12">
                <a href="http://www.plymouthart.ac.uk" target="_blank">
                    <img src="img/logos/PCA.png" class="img-responsive img-centered"  alt="">
                </a>
            </div> 
        </div>

    </div>    
</aside>
