<!-- Partners Section  -->
<section id="partners" style= "padding-top: 50px">
    <div class="container">


        <div class="row" style="">
            <div class="col-lg-12" style="padding-top:10px;">
                <div class="texto">
                    <!--<h1 class="section-heading" style="color: #000000; margin-bottom:30px"> Partners </h1> -->
                    <h2 class="section-subheading">Who are we? </h2>
                    <p class="large">
                        Made@EU is a collaboration between Europe's top research and education centers on the field of digital fabrication and its ever-growing relationship with the arts, design and traditional craftsmanship. <br> <br>With the support of the Creative Europe Programme of the European Union, this strong international network of leaders in the Fab Lab network come together to join forces on diverse programmes creating opportunities for artists, designers and craftspeople to explore and exchange ideas across borders.
                    </p> 
                </div>
            </div>    
        </div> 
      


        <div class="row" style="border-top: 3px solid; border-bottom: 3px solid; border-color: black;">
            <div class="col-lg-12" style="padding-top:40px;">
                <div class="texto">
                    <h2 class="section-subheading" style="color: #000000;"> IAAC | Fab Lab Barcelona </h2>
                    <p class="large" style="color: #000000;">
                     Fab Lab Barcelona is a centre for production, investigation and education around digital fabrication and the future of distributed and circular economies. 
                   </p>
                </div>    
            </div>
            <div class="col-lg-12">
                <div class="texto">
                    <a href="http://fablabbcn.org/" class="btn btn-primary white" style="margin: 20px 0px 50px 0px">Visit website</a> 
                </div>   
            </div>
        </div> 


        <div class="row" style="border-bottom: 3px solid; border-color: black;">
            <div class="col-lg-12" style="padding-top:40px;">
                <div class="texto" >
                    <h2 class="section-subheading" style="color: #000000;"> Plymouth College of Art </h2>
                    <p class="large" style="color: #000000;">
                     Plymouth College of Art is an independent art school offering extended diplomas, BA degrees, masters and more in art, design and digital subjects.
                   </p>
                </div>    
            </div>
            <div class="col-lg-12">
                <div class="texto">
                    <a href="http://www.plymouthart.ac.uk/" class="btn btn-primary white" style="margin: 20px 0px 50px 0px">Visit website</a> 
                </div>   
            </div>
        </div> 

        <div class="row" style="border-bottom: 3px solid; border-color: black;">
            <div class="col-lg-12" style="padding-top:40px;">
                <div class="texto" >
                    <h2 class="section-subheading" style="color: #000000;"> ENSCI École nationale supérieure de création industrielle </h2>
                    <p class="large" style="color: #000000;">
                     ENSCI is an interdisciplinary, industrial design, graduate-level school in the heart of Paris.
                   </p>
                </div>    
            </div>

            <div class="col-lg-12">
                <div class="texto">
                    <a href="http://www.ensci.com/en/" class="btn btn-primary white" style="margin: 20px 0px 50px 0px">Visit website</a> 
                </div>   
            </div>
        </div> 

    </div>        
</section>        

<aside class="clients">  
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12" style="background: #ffffff; height:150px;">
                <a href="https://ec.europa.eu/programmes/creative-europe/" target="_blank">
                    <img src="img/logos/eu-black.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
                
            <div class="col-md-3 col-sm-12" style="background: #ffffff; height:150px;"> 
                <a href="http://www.fablabbcn.org" target="_blank">
                    <img src="img/logos/fablab.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
                
            <div class="col-md-3 col-sm-12" style="background: #ffffff; height:150px;">
                <a href="www.ensci.com/en/" target="_blank">
                    <img src="img/logos/ensci-black.png" class="img-responsive img-centered"  alt="">
                </a>
            </div> 

            <div class="col-md-3 col-sm-12" style="background: #ffffff; height:150px;">
                <a href="www.plymouthart.ac.uk/" target="_blank">
                    <img src="img/logos/PCA.png" class="img-responsive img-centered"  alt="">
                </a>
            </div> 
        </div>

    </div>    
</aside>
