<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Related Projects</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom:30px;">FAB City has been inspired by existing projects, future visions on cities, and how technological humanism could transform the way we inhabit the planet. </h3>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal0" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/fablabs.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Fab Labs</h4>
                        <p class="text-muted">Distributed infrastructure for digital fabrication</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/self2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Self-Sufficient city</h4>
                        <p class="text-muted">Development of the new general theory of urbanism</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/citizen.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Productive cities by citizens</h4>
                        <p class="text-muted">Empowerment through technology for city transformation</p>
                    </div>
                </div>
                </div>

                <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/block2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Distributed computation for a new economy</h4>
                        <p class="text-muted">Blockchain, Bitcoin, Smart Contracts, Distributed Apps, Distributed Autonomous Organisations, Distributed Autonomous Corporations, Distributed Autonomous Society.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/s3dproducts.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Future of Digital Fabrication</h4>
                        <p class="text-muted">The end of the machine era, the power of growing things</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/poolparty.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>The spiral economy</h4>
                        <p class="text-muted">Distributed systems for value generation.</p> <!-- Should I add more text in order this to work?-->
                    </div>
                </div>


        </div>
    </section>
