<!--Promo section-->
<section id="promo">
	<div class="container">
		<div class="row">  
		        <div class="col-xs-12 col-sm-6 col-md-6">
		            <div class="title-promo">
		                Discover and connect with Fab Labs around you. Check out labs, people and resources!<br>
		                 <a href="https://www.fablabs.io/" target="_blank" class="btn btn-primary white" style="margin: 50px 0px">Visit Fablabs.io</a>
		            </div>      
		        </div>

		        <div class="col-xs-12 col-sm-6 col-md-6">
		            <div class="title-promo">
		                Discover cool products made at Fab Labs by european creators!<br>
		                <a href="http://market.fablabs.io/" class="btn btn-primary white" style="margin: 50px 0px" target="_blank">Visit Fab Market</a>
		            </div>      
		        </div>
	    </div><!--row-->
	</div><!--container
</section>