<!--Promo section-->
<section id="promo" style="">
	<div class="row text-center" style="margin-right: 0px; margin-left: 0px; padding-top: 130px;">  
        <div class="col-xs-12 col-sm-6 col-md-6" style="height: 300px; background-color: #ffffff; background-image: url(../img/promo/fab-lab-op.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-title-twitter" style="padding-top: 110px; text-align:left;">
                Discover and connect with Fab Labs around you! <br>
                 <a href="https://www.fablabs.io/" target="_blank" class="btn btn-primary white" style="margin: 50px 0px">Visit Fablabs.io</a>
            </div>      
        </div>

		<a href="https://www.fablabs.io/" target="_blank">
        <div class="col-xs-12 col-sm-6 col-md-6" style="height: 300px; background-color: #ffffff; background-image: url(../img/promo/creators-op.jpg); background-position: center center; background-attachment: scroll; background-size: cover;">
            <div class="mosaic-title-twitter" style="padding-top: 100px; text-align:left;">
                Discover cool products made at Fab Labs by european creators<br>
                <a href="http://market.fablabs.io/" class="btn btn-primary white" style="margin: 50px 0px" target="_blank">Visit Fab Market</a>
            </div>      
        </div>
        </a>
	</div>
</section>