<!-- Services Section -->
<section id="skills" style="padding: 80px 0px 0px 0px;">
    <div class="bg-png">

                <div class="row">

                </div>    

                <div class="row">
                    <div class="col-lg-12 text-center" style="margin: 40px 0px 40px 0px">
                        <h2 class="section-heading" >Indentifying metrics</h2>
                        <h4 class="section-subheading text-muted">How does a city work? What does it need to function?</h4>
                    </div>
                </div>      

                <div class="row text-center">
                    <div class="textos-how">
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Energy production/consumption</h4>
                            <p class="text-muted">How much energy does a city need? Where does it come from? Encouraging the local production and storage of energy. Developing the Internet of Energy.</p>
                        </div>
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Food production/consumption</h4>
                            <p class="text-muted">Where do our supplies come from? Can we think on empty office buildings and stadiums as massive urban farms? Microfarming at home, synthetic biology and superfoods.</p>
                        </div>
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">From PITO to DIDO</h4>
                            <p class="text-muted">How many shipping containers does a city need? Where do they come from? From Product In > Trash Out (PITO) to Data In < > Data Out (DIDO). Data travels between cities and not goods.</p>
                        </div>     
                    </div>     
                </div>
                </br>


            <div class="row">
                <div class="col-lg-12 text-center" style="margin: 40px 0px 40px 0px">
                    <h2 class="section-heading">Developing projects and strategies</h2>
                    <h4 class="section-subheading text-muted">Using open source tools and distributed manufacturing tech</h4>
                </div>
            </div>


            <div class="row text-center">

               <div class="textos-how">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Sensors and actuators</h4>
                        <p class="text-muted">Making tools to understand how a city functions, and to understand the challenges to change the consumption patterns to sustain urban activities.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-th fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Blockchain for distributed computation</h4>
                        <p class="text-muted">Building a distributed infrastructure for a new data economy. The Blockchain is promising to build a new paradigm on the use of data, making the foundations of the new Internet.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Tools and solutions</h4>
                        <p class="text-muted">Not only generating objects but creating tools to make tools. Mobility, healthcare, agriculture, wereables... anything we used re-designed, shared and globally distributed as data.</p>
                    </div>
                </div>        


            </div>
            </br>

        <div class="row">
            <div class="col-lg-12 text-center" style="margin: 40px 0px 40px 0px">
                <h2 class="section-heading">Assembling a global team</h2>
                <h4 class="section-subheading text-muted">A worldwide network of experts and enthusiasts</h4>
            </div>
        </div>

        <div class="row text-center">
           <div class="textos-how">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Civic Leaders</h4>
                    <p class="text-muted">Local leaders in city making policy and strategies to support local ecosystems and global collaborations.</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fab Lab Managers</h4>
                    <p class="text-muted">Fab Lab leaders developing projects and solutions, training trainers and policy makers to think and act in the cities of the future.</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technologists and enablers</h4>
                    <p class="text-muted">Jedis on new technology development such as the Blockchain, distributed archiving, online platforms, and better tools for alls.</p>
                </div>

             </div>    
        </div>

        <div class="row text-center" style="margin-top: 20px">
            <div class="col-md-4">
                <a href="http://fabcity.slack.com" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-slack fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Join our Slack team</h4>
                    <p class="text-muted"></p>
                </a>
            </div>


            <div class="col-md-4">
                <a href="http://github.com/fabcity" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Find us on Github</h4>
                    <p class="text-muted"></p>
                </a>
            </div>


            <div class="col-md-4">
                <a href="http://fabcity.hackpad.com" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Contribute to our hackpad</a></h4>
                    <p class="text-muted"></p>  
                </a>  
            </div>

        </div>

        <div class="row text-center" style="padding: 40px 0px 40px 0px">
          <a href="/faq" class="page-scroll btn btn-xl">FAQ </a>
        </div> 

    </div>

</section>
