<!-- Full About Section -->
<section id="what-full" style= "padding-top: 100px ; padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="texto">
                   <h2 class="section-subheading"> What is the made@eu project? </h2>
                   <p class="large">
                    Technologies such as 3D printing and 3D scanning have recently opened new development and innovation opportunities for creative sectors. This phenomenon has been described as the third industrial revolution in as much as it is expected to radically change the production and distribution status quo, and strongly influence society as a whole, from a cultural, social and economic platform.
                   </p>
                </div>    
            </div>
        </div> 
    </div>         
</section>
