<!-- Services Section -->
    <section id="what" style= "padding-bottom: 100px">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="margen-what">
                        <h2 class="section-heading-what"><a href="/about" style="color: #333"> What is a FAB City?</a></h2>

                            <div style="position: relative;" > 
                                 <h2 class="section-subheading-what text-muted">A FAB City is a new urban model for locally productive and globally connected self sufficient cities.</h2>
                            </div>  

                            <div style="position: relative;">         
                                   <p class="what text-muted">
                                    In a Fab City, citizens are empowered to be the masters of their own destiny, their resilience is increased and a more ecological system is developed because movement of materials and energy consumption is drastically reduced. The Fab City has been initiated by the Institute for Advanced Architecture of Catalonia, the MIT’s Center for Bits and Atoms and the Fab Foundation; it operates within the Fab Lab network, using it as a global infrastructure and knowledge source for the radical transformation on how we work, live and play in cities.
                                   </p>
                            </div>  


                            <a href="/about" target="_blank">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <!--<i class="fa fa-plus fa-3x"></i>-->
                                        <h4 class="learn-more">Learn more</h4>
                                    </div>
                                </div>
                            </a>

                    </div>
                </div>
            </div>

            
    </section>
