<!-- Full About Section -->
<section id="what-full" style= "padding-top: 100px ; padding-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="texto">
                   <h2 class="section-subheading"> What is the made@eu project? </h2>
                   <p class="large">
                    Technologies such as 3D printing and 3D scanning have recently opened new development and innovation opportunities for creative sectors. This phenomenon has been described as the third industrial revolution in as much as it is expected to radically change the production and distribution status quo, and strongly influence society as a whole, from a cultural, social and economic platform. <br><br> However, in order to fully unleash design’s potential as a driver for growth and innovation, a number of remaining barriers have to be lowered in the field of education and training in connection with the use of digital fabrication technologies amongst European creativesThe Made@EU project thus proposes: <br><br>
                    Creation and development of education materials in order to provide designers and craftsmen with digital the skills and know-how necessary to integrate digital technologies into their existing workflows; <br><br>
                    Development of a workshop programme focused on digital technologies for the creative community;<br><br>
                    Creation of residency programmes facilitating cross-European mobility of creators and generating international opportunities for emerging talent;
                    Increasing the circulation of European design and craft through 3 exhibitions.<br><br>
                    Exploring the potential of innovative web-based business models for European creators.<br><br>
                    Developing visibility for all achievements of note developed within the Made@EU framework in major events in design and creativity across Europe and beyond; <br><br>
                    Development of an online platform aimed at ongoing promotion of European craft and design and a marketplace ecosystem where individuals can promote their creations.
                   </p>
                </div>    
            </div>
        </div> 
    </div>         
</section>
