<!-- What Section -->
<section id="what" style= "padding-top: 120px ; padding-bottom: 100px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="text">
                <div style="position: relative;">         
                       <p class="large">
                        The made@eu project aims to bridge the digital divide that currently hinders the widespread use of digital fabrication knowledge and technologies in the european cultural and creative sectors, especially in the field of design, arts and crafts. 
                       </p>
                </div> 
            </div>
        </div>
    </div> 

     <div class="row"> 
        <div class="col-lg-12">
            <div class="text">
                <a href="#what-full" class="btn btn-primary white right-align" style="margin: 50px 0px">Learn more</a> 
            </div>   
        </div>
    </div>       
</section>
