<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include what.html %} 
    {% include get-involved.html %}
    {% include partners.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
    <script>
      window.pause = false;

      window.pulseIcon = L.icon({
        iconUrl: 'labmap.png',
        iconSize:     [5, 5], // size of the icon
        iconAnchor:   [2, 2], // point of the icon which will correspond to marker's location
        popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
      })
    </script>
</html>
